

body{
    background-color: thistle;
}

form{
    width: 500px;
    height: auto;
    background-color: teal;
    margin:auto;
}

label{
    color: bisque;
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 80%;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin: 0 10px;
}

.enviar{
    background-color: darkgoldenrod;
    border-radius: 20px;

}